/* content */
#main .content{
	text-align: center;
}

#main .content h1{
	font-size: xx-large;
	color: #ff9300;
	text-align: center;
}

#main .content .breadcrumbs {
	padding: 0px 0px 0px 10px;
	text-align: left;
}

#main .content .breadcrumbs a {
	text-decoration: none;
	color: grey;
}

#main .content .breadcrumbs a:hover {
	color: black;
}

#main .content .section-1 {
	color: #424242;
	width: 700px;
	text-align: justify;
	font-size: medium;
	line-height: 150%;
}

#main .content .section-1 a {
	text-decoration: none;
}

#main .content .section-1 h2 {
	font-size: x-large;
	color: #ff9300;
	text-align: center;
}

#main .content .section-1 h3 {
	font-size: larger;
	color: #009193;
	text-align: center;
	line-height: 1.5;
}